@charset "utf-8";
$breakpoints: (
//キー  値
    'xs': 'screen and (max-width: 376px)',
    'sm': 'screen and (max-width: 768px)', //767px以下（スマホ）用の表示
    'md': 'screen and (max-width: 900px)', //1024px以上（タブレット・PC）用の表示
    'xl': 'screen and (max-width: 1200px)',
    'xxl': 'screen and (min-width: 1201px)'


) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
    }
}
@include mq(md){
    .is-sp{
        display: none;
    }
}
@include mq(sm){
    .is-pc{
        display: none;
    }
}
@mixin hover() {
    &:hover{
        transition:.3s;
        opacity: .8;
    }
}
@mixin btn($width,$height,$bgColor,$fz,$color) {
    width: $width;
    height: $height;
    line-height: $height;
    background-color:$bgColor;
    font-size: $fz;
    color: $color;
    text-align: center;
    text-decoration: none;
    &:hover{
        transition: .3s;
        opacity: .8;
    }
}
//font-family
$ff-title: "Futura-CondensedMedium", sans-serif;
$ff-base :"Hiragino Kaku Gothic ProN",sans-serif;

// color
$c-base: #333;
$c-white: #fff;
$c-btn__b: #421f15;
$c-btn__r: #c63205;

// font-size
$fz-sx: 12px;
$fz-s: 14px;
$fz-base: 16px;
$fz-m: 18px;
$fz-l: 22px;
$fz-xl: 34px;
$fz-title: 43px;

//font-weight
$b:600;

/*====================================================================
                    common　style
==================================================================*/
body{
    font-family: $ff-base;
    color: $c-base;
    font-size: $fz-base;
    line-height: 1.57;
    letter-spacing: .1;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img{
    width: 100%;
}

.inner{
    max-width: 810px;
    margin: 0 auto;
    box-sizing: content-box;
    @include mq(md){
        max-width: 720px;
    }
    @include mq(sm){
        max-width: 510px;
        padding: 0 15px;
    }
}
.section-title{
    font-size: $fz-title;
    margin-bottom: auto;
    font-family: 'Futura-CondensedMedium';
    text-align: center;
    @include mq(sm){
        font-size: $fz-xl;
    }
}
.util-top{
    width: 100%;
    background-image: url(../img/top.png);
    background-position: 100% 50%;
    background-size: 150%;
    position: relative;
}
.util-top-inner{
    display: flex;
    padding: 58px 15px;
    @include mq(sm){
        display: block;
        text-align: center;
    }
}
.util-top-title-box{
    margin-right: 100px;
    @include mq(sm){
        margin-right: 0;
        width: 100%;
        display: inline-block;
        margin-bottom: 24px;
    }
}
.util-top-contents{
    @include mq(sm){
        display: inline-block;
        width: 100%;
    }
    @include mq(sm){
        max-width: 66.66%;
    }
}
.util-btn-box{
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    max-width: 810px;
    left: 50%;
    width: 100%;
    text-align-last: center;
    @include mq(md){
        max-width: 720px;
    }
    @include mq(sm){
        max-width: 510px;
    }
    .to-reserve{
        display: block;
        margin-left: auto;
        @include btn(150px,40px ,$c-btn__r ,$fz-s ,$c-white );
        @include mq(sm){
            @include btn(150px,30px ,$c-btn__r ,$fz-sx ,$c-white );            
        }
    }
}
/*====================================================================
header
====================================================================*/
.header{
    width: 100%;
    @include mq(sm){
        white-space: nowrap;
        overflow-y:scroll;
    }
}
.header-nav{
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    max-width: 660px;
    margin: 0 auto;
    flex: 1 1 100%;
    @include mq(sm){
        width: 510px;
        padding: 12px 0;
        flex: 0 0 100%;
        
    }

}
.header-item{
    &+&{
        // margin-left: 30px;
    }
}
.header-link{
    text-decoration: none;
    text-align: center;
}
.header-item-sub{
    font-size: $fz-sx;
    color: #421F15;
    font-weight: $b;
    @include mq(sm){
        font-size: 10px;
    }
}
.header-item-main{
    color: #421F15;
    font-weight: $b;
    font-size: $fz-l;
    @include mq(sm){
        font-size:$fz-base ;
    }
}
/*====================================================================
                    main
====================================================================*/



/*====================================================================
                    top
====================================================================*/
.i-top{
    width: 100%;
    background-image: url(../img/top.png);
    background-position: 85% 60%;
    background-size: 170%;
    color: $c-white;
    padding: 60px 0px;
    position: relative;
    @include mq(sm){
        padding: 30px 0;
    }
}
.t-btn__box{
    width: 100%;
    position: absolute;
    transform: translate(-50%, 50%);
    left:50%;
    bottom:0;
    text-align: right;
    .to-reserve{
        margin-left: auto;
        display: block;
        @include btn(200px,60px ,$c-btn__r ,$fz-s ,$c-white );
        text-decoration:none;
        @include mq(sm){
            @include btn(150px,40px ,$c-btn__r ,$fz-sx ,$c-white );
        }
    }
}

.index-top-title-box{
    width: 100%;
}
.index-top-title-sub{
    font-size: $fz-xl;
}
.index-top-title{
    font-size: 90px;
}
.i-top__contents{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include mq(sm){
        display: block;
        margin-top: 0;
    }
}
.i-top__contents__info{
    width: 370px;
    @include mq(sm){
        max-width: 330px;
        width: 70%;
        margin: 24px auto;
    }
}
.i-top-contents__text{
    flex: 0 0 340px;
    font-size: $fz-s;
    span{
        font-weight: $b;
    }
    @include mq(sm){
        font-size: $fz-sx;
    }
}
/*====================================================================
                    intro
====================================================================*/
.i-news{
    padding: 60px 0;
}
.i-intro-box{
    padding: 25px;
    background-color:rgba(255, 255, 255, .3);
    position: relative;
    @include mq(sm){
        padding: 15px;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 210px;
        height: 210px;
        background-image   : 
        url(../img/story3.png);
        background-position:50% 70%;
        background-size: 140%;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        @include mq(sm){
            width: 100px;
            height: 100px;
        }
    }
}
.i-intro__sub{
    text-align: center;
}
.i-intro-title{
    text-align: center;
    font-size: $fz-xl;
    font-weight: $b;
}
.i-intro-text-box{
    display: flex;
    justify-content: space-between;
    font-size: $fz-sx;
    margin-top: 15px;
    @include mq(sm){
        display: block;
    }
}
.i-intro-text-left, .i-intro-text-right{
    flex: 0 0 360px;
    line-height: 1.75;
    @include mq(md){
        flex: 0 0 330px;
    }
}
/*====================================================================
                    news
====================================================================*/
.news-btn-box{
    margin: 50px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include mq(sm){
        margin: 20px 0 ;
    }
}
.to-news{
    position: absolute;
    right: 0;
    @include btn(120px,40px ,$c-btn__r ,$fz-s ,$c-white );
    @include mq(sm){
        @include btn(100px,30px ,$c-btn__r ,$fz-sx ,$c-white );
    }
}
.i-news-first-box{
    display: flex;
    justify-content: space-between;
    align-self:stretch;
    margin-bottom: 25px;
    @include mq(sm){
        margin-bottom: 0;
        display: block;
    }
}
.i-news-link{
    @include hover() ;
    text-decoration: none;
    display: block;
    @include mq(sm){
        figure{
            width: 100%;
            padding-top: 56%;
            position: relative;
            overflow: hidden;
            img{
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY( -50%);
            }
        }
    }
}
.i-news-item-first{
    flex:0 0 250px;
    background-color: $c-white;
    @include mq(md){
        flex: 0 0 220px;
    }
    @include mq(sm){
        width: 100%;
        margin-bottom: 15px;
    }
    
}
.i-news-item-first-text-box{
    color: $c-base;
    padding:0 25px 25px 15px;
    height: 100%;
    @include mq(sm){
        padding: 0 15px 15px 10px;
    }
}

.i-news-item{
    @include mq(sm){
        margin-bottom: 24px;
    }
}
.i-news-time{
    @include mq(sm){
        font-size: $fz-sx;
    }
}
.i-news-item-title{
    font-weight: $b;
    @include mq(sm){
        font-size:$fz-s ;
    }
}
.i-news-second__box{
    display: flex;
    justify-content: space-between;
    @include mq(sm){
        display: block;
    }
}
.i-news-item-second{
    height: 90px;
    background-color: $c-white;
    flex: 0 0 380px;
    @include mq(md){
        flex: 0 0 345px; 
    }
    @include mq(sm){
        height: 100%;
    }
}
.second{
    display: flex;
    height: 100%;
    align-self: stretch;
    @include mq(sm){
        display: block;
    }
    img{
        width: 150px;
        height: 100%;
        @include mq(sm){
            width: 100%;

        }
    }
}
.i-news-item-second-text-box{
    padding: 5px 15px 10px 15px;
    color: $c-base;
    time{
        margin-bottom: 0;
    }
    .i-news-item-title{
        margin-top: 0;
    }
}
/*====================================================================
                    story
====================================================================*/
.i-story{
    width: 100%;
    height: 440px;
    background-color: #000;
    
        .section-title{
            z-index: 10;
            color: $c-white;
            position: absolute;
            transform: translate(-50%);
            left: 50%;
        }
    }
    .i-story__second{
        height: 100%;
        padding: 30px;
        background-image: url(../img/story2.png) ;
        // background: linear-gradient(to right,transparent, #000);
        position: relative;
        background-position: -30% 30%;
        background-size:70%;
        background-repeat: no-repeat;
        @include mq(md){
            background-size:cover;
            background-position: -30px 50%;
            padding: 15px;
        }
        &::after{
            position: absolute;
            content: '';
            height:100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,1));
        }
    .inner{
        position: relative;
        height: 100%;
    }
}
.index-story-text{
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 10;
    width: 320px;
    font-size: $fz-sx;
    color: $c-white;
    line-height: 1.75;
    font-weight: 300;
    @include mq(sm){
        position: none;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
    }
}
.to-story{
    z-index: 10;
    position: absolute; 
    bottom: 0;
    right: 0;
    @include btn(115px,36px ,$c-btn__r ,$fz-s ,$c-white );
    @include mq(sm){
        @include btn(100px,30px ,$c-btn__r ,$fz-s ,$c-white );
    }
    
}
/*====================================================================
                    comments
====================================================================*/
.comments{
    padding: 60px 0 ;
    @include mq(sm){
        padding: 30px 0;
    }
    .section-title{
        margin-bottom: 30px;
    }

}
.comments-title-sub{
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: $b;
}
.comments-box{
    width: 100%;
    padding: 50px 30px;
    color: $c-white;
    position: relative;
    background-image: url(../img/index-comments.png);
    background-size: 105%;
    background-position:center;
    margin-bottom: 60px;
    @include mq(md){
        padding: 30px 20px;
    }
    @include mq(sm){
        display: none;
    }
}
.comment__res{
    display: none;
    @include mq(sm){
        display: block;
    }
    .comment__res-img{
        background-image: url(../img/index-comments.png);
        background-size: cover;
        background-position:center;
        padding-top: 60%;
    }
    .comment__res__txtarea{
        background-color: #161616;
        padding: 15px;
        color: $c-white;
        margin-bottom: 20px;
    }
    .comment__res__title{
        font-size: $fz-m;
        margin-bottom: 10px;
        span{
            font-size: 20px;
        }
    }
    .comments__res_txt{
        font-size: $fz-s;
    }
}

.comments-box-title{
    font-size: 20px;
    font-size: $b;
    margin-bottom: 10px;
    span{
        font-size: 26px;
    }
}
.comments-text{
    font-size: $fz-s;
    width: 420px;
}
.to-comments{
    position: absolute;
    bottom: 15px;
    right: 15px;
    @include btn(115px,36px ,$c-btn__r ,$fz-s ,$c-white )
}
/*====================================================================
                    casts
====================================================================*/
.section-ca-title{
        margin-bottom: 100px !important;
}
.cas{
    background-color: #FFFFFFE6;
    padding-top: 680px;
    position: relative;
    @include mq(sm){
        padding-top: 1745px;
    }
    .inner{
        width: 100%;
        position: absolute;
        top: -125px;
        transform: translateX( -50%);
        left: 50%;
        padding-bottom: 30px;
        box-sizing: border-box;
        @include mq(sm){
        }
    }
}
.cas-items{
    display: flex;
    justify-content: space-between;
    justify-self: stretch;
    margin-bottom: 20px;
    @include mq(sm){
        justify-content: none;
        justify-self: none;
        display: block;
    }
}
.ca-item{
    flex :0 0 250px;
    @include mq(sm){
        width: 100%;
        margin-bottom: 24px;
    }
}
.ca-item-img{
    margin-bottom: 20px;
    @include mq(sm){
        text-align: center;
    }
    img{
        border-radius: 50%;
        text-align: center;
        @include mq(sm){
            width: 200px;
            height: 200px;
        }
    }
}
.ca-prof{
    text-align: center;
    margin-bottom: 15px;
    @include mq(sm){
        margin-bottom: 10px;
    }
}
.ca-position{
    margin-bottom: 5px;
}
.ca-name{
    margin-bottom: 15px;
    font-size:18px ;
    font-weight: $b;
    @include mq(sm){
        margin-bottom: 10px;
    }
}
.ca-title{
    font-size: $fz-sx;
}
.ca-text{
    font-size: $fz-sx;
    line-height: 1.75;
}
.to-casts{
    display: block;
    margin: 0 auto ;
    border: 5px solid $c-btn__r;
    @include btn(115px,35px ,transparent ,$fz-s ,$c-btn__r);
    font-weight: $b;
    height: 45px;
}
/*====================================================================
                    schedule
====================================================================*/
.index-schedule{
    padding: 60px 0;
}
.index-schedule-box{
    width: 100%;
    padding: 30px 72px 60px 72px;
    background-color:rgba(255, 255, 255, .3);
    margin-bottom: 30px;
    @include mq(md){
        padding: 10px 37px 30px 37px;
    }
    
    .section-title{
        margin-bottom: 30px;
        @include mq(md){
            margin-bottom: 15px;
        }
    }

}
.index-schedule-table{
    td{
        font-size: 20px;
        font-weight: $b;
        @include mq(xl){
        }
        @include mq(sm){
            font-size: $fz-base;
            
        }
    }
}
.index-schedule-date{
    padding-right: 10px;
    @include mq(md){
        padding-right: 5px;
    }
    @include mq(sm){
        padding-right: 10px;
        padding-bottom: 5px;
        display: inline-block;
    }
}
.index-schedule-time{
    padding-right: 30px;
    @include mq(md){
        padding-right: 23px;
    }
    @include mq(sm){
        padding-right: 23px;
        display: inline-block;
    }
}
.index-schedule-place{
    padding-right: 25px;
    @include mq(md){
        padding-right: 17px;
    }
    @include mq(sm){
        padding-right: 17px;
        display: inline-block;
        
    }
}
.index-schedule-reserve{
    a{
        color: $c-base;
        @include hover();
    }
    @include mq(sm){
        display: inline-block;
    }
    @include mq(sm){
        padding-bottom: 15px;
    }
}
.schedule-btn-box{
    display: flex;
    justify-content: center;
}
.to-contact{
    @include btn(193px,60px ,$c-btn__b ,13px ,$c-white );
    margin-right: 15px;
    @include mq(md){
        margin-right: 7.5px;
        @include btn(150px,40px ,$c-btn__b ,$fz-sx ,$c-white );
    }
}
.to-reserve{
    @include btn(193px,60px ,$c-btn__r ,13px ,$c-white );
    margin-left: 15px;
    @include mq(md){
        margin-left: 7.5px;
        @include btn(150px,40px ,$c-btn__r ,$fz-sx ,$c-white );
    }
}
/*====================================================================
                    footer
====================================================================*/
footer{
    padding: 30px 0;
    text-align: center;
    font-size: 12px;
    color: $c-white;
    background-color: #1A1A1A;
    @include mq(md){
        font-size: 8px;
    }
}
/*====================================================================
                    
====================================================================*/
                    // news-achive
/*====================================================================
                    pans
====================================================================*/
.na-pans{
    margin-top: 30px;
    @include mq(sm){
        margin-top: 15px;
    }
    p{
        font-size: $fz-sx;
    }
}
.na-news{
    padding: 30px 0;
    @include mq(sm){
        padding: 10px 0;
    }
    .section-title{
        margin-bottom: 30px;
        @include mq(sm){
            margin-bottom: 20px;
        }
    }
}
.na-news-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: -30px;
    @include mq(sm){
        margin-bottom: 0;
        display: block;
    }
}
.na-news-link{
    display: block;
    margin-bottom: 30px;
    width: 250px;
    background-color: #fff;
    text-decoration: none;
    @include hover();
    @include mq(md){
        width: 210px;
    }
    @include mq(sm){
        width: 100%;
    }

}
.na-news-item{
    width: 100%;
    height: 100%;
}
.na-news__img{
    width: 100%;
    height: 140px;
    position: relative;
    overflow: hidden;
    @include mq(sm){
        padding-top: 56%;
    }
    img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
    }
}
.na-news-item__body{
    padding: 15px 15px 20px 15px;
    color: $c-base;
    @include mq(sm){
        padding: 10px 10px 15px 10px;
    }
    time{
        font-size: $fz-sx;
        margin-bottom: 5px;
        @include mq(sm){
            font-size: $fz-sx;
        }
    }
}
.na-news-item__title{
    font-weight: $b;
    line-height: 1.312;
    @include mq(sm){
        font-size: $fz-s;
    }
}
.na-news-pagination__body{
    margin-top: 30px;
    text-align: center;
}
.na-news-pagination{
    display: inline-block;
    padding: 7.5px 13px;
    background-color: #1A1A1A;
    text-decoration: none;
    font-size: $fz-sx;
    @include hover();
    &+&{
        margin-left: 9px;
    }
}
.na-mun{
    p{
        border: 2px solid #1A1A1A;
        background-image: url(../img/bg.png);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.na-next{
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    background-color: transparent;
    color: #1A1A1A;
}
.na-schedule{
    .inner{
        // padding-top: 30px;
        padding-bottom: 60px;
        @include mq(sm){
            padding-top: 15px;
            padding-bottom: 30px;
            
        }
    }
}
/*====================================================================
                    
====================================================================*/
                    //news-single
/*====================================================================
                    
====================================================================*/
.na-s{
    .section-title{
        margin-bottom: 30px;
        @include mq(sm){
            margin-bottom: 15px;
        }
    }
}
.na-s__main{
    background-color: #FFFFFFE6;
}
.na-s___img{
    position: relative;
    width: 100%;
    padding-top: 56%;
    overflow: hidden;
    img{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}
.na-s__title{
    background-color: #1A1A1A;
    padding: 12px 30px 17px 30px;
    color: $c-white;
    @include mq(sm){
        padding: 10px 15px 12px 15px;
    }
    time{
        font-size: $fz-sx;
        
    }
    h3{
        font-size: 26px;
        font-weight: $b;
        @include mq(sm){
            font-size: $fz-m;
        }
    }
}
.na-s__body{
    padding: 30px;
    @include mq(sm){
        padding: 15px;
    }
}
.na-s__b_title{
    font-size: $fz-l;
    line-height: calc(26/22px);
    font-weight: $b;
    @include mq(sm){
        font-size: $fz-m;
    }
}
.na-s__b_txt{
    line-height: 1.625;
    @include mq(sm){
        font-size: $fz-s;
    }
    span{
        font-weight: $b;
    }
}
/*====================================================================
                    pagination
====================================================================*/
.na-s-pagination_area{
    .inner{
        display: flex;
        justify-content: space-between;
    }
}
.na-s_pagination_link{
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    max-width: 300px;
    @include mq(sm){
        margin-top: 15px;
        margin-bottom: 20px;
    }
    span{
        position: relative;
        display: block;
        background-color: #1A1A1A;
        border-radius: 50%;
        padding: 0 15px;
        height: 30px;
        &::after{
            position: absolute;
            
            font-size: $fz-l;
            transform: translate(-50%, -50%);
            top: 45%;
            background-image: url(../img/bg.png);
            background-position: center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
.pagination-pev{
    span{
        margin-right: 12px;
        &::after{
            content: "<";
            left: 45%;
        }
    }
}
.pagination-next{
    span{
        margin-left: 12px;
        &::after{
            content: ">";
            left: 55%;
        }
    }
}
.na-s_pagination_info{
    time{
        font-size: $fz-sx;
        margin-bottom: 3px;
    }
    p{
        font-size: $fz-s;
        line-height: 1.5;
    }
}
.pagination-pev{
    text-align-last: left;
}
.pagination-next{
    flex-direction: row-reverse;
    text-align: right;
}
/*====================================================================
                    
====================================================================*/
                    //stroy
/*====================================================================
                    
====================================================================*/
.bg__bk{
    background-color:#000;
}
.story-top-bg{
    background-image: url(../img/story1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    .bg__bk__tra{
        background: linear-gradient(to left, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.1));
    }
    .util-top{
        background-image: none;
    }
    
}
.story-area{
    color: $c-white;
    .section-title{
        margin-bottom: 24px;
        @include mq(sm){
            margin-bottom: 15px;

        }
    }
}
.story-txt-area{
    color: $c-white;
    p{
        width: calc(100% /2);
        padding: 60px 0;
        @include mq(sm){
            width: 100%;
            font-size: $fz-s;
            padding: 30px 0;
        }
    }
}
.story-main{
    .story-txt-area{
        @include mq(sm){
            background-position: center;
            background-size: cover;
            
        }
    }
}
.story-txt__left{
    .bg__bk__tra{
        background: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.1));
    }
    p{
        padding-right: 30px;
        margin-right: auto;
        @include mq(sm){
            padding-right: 0;
        }
    }
}
.story-txt__right{
    .bg__bk__tra{
        background: linear-gradient(to left, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.1));
    }
    p{
        padding-left: 30px;
        margin-left: auto;
        z-index: 100;
        @include mq(sm){
            padding-left: 0;
        }
    }
}
.story-1{
    background-position: 100% 0;
    background-image: url(../img/story05.png);
    background-size: 70%;
    background-repeat: no-repeat;
    
}
.story-2{
    background-position: 0 50%;
    background-image: url(../img/story04.png);
    background-size: 70%;
    background-repeat: no-repeat;
}
.story-3{
    background-position: 100% 50%;
    background-image: url(../img/story3.png);
    background-size:50% ;
    background-repeat: no-repeat;
}

/*====================================================================	
====================================================================*/		
                    //comments	
/*====================================================================	
====================================================================*/	
.c-main{	
    .comments{	
        padding: 27px 0;	
        .section-title{	
            margin-bottom: 24px;	
        }	
        .comments-box{	
            margin-bottom: 0;	
        }	
    }	
}	
.c-items{	
    display: flex;	
    flex-wrap: wrap;	
    justify-content: space-between;	
    padding: 30px 0;	
    @include mq(md){	
        justify-content: space-around;	
    }	
}	
.c-item{	
    flex: 0 0 250px;	
    margin-bottom: 30px;	
    @include mq(md){	
        flex:0 0 200px;	
        margin-bottom: 15px;	
    }	
}	
.c-item__title{	
    text-align: center;	
}	
.c-item__name{	
    font-size: 22px;	
    font-weight: $b;	
    @include mq(sm){	
        font-size: 18px;	
    }	
}	
.c-item__position{	
    font-size: $fz-sx;	
    @include mq(sm){	
        font-size: 10px;	
    }	
}	
.c-item__txt{	
    line-height: 1.625;	
    @include mq(sm){	
        font-size: $fz-s;	
    }	
}
/*====================================================================	
====================================================================*/		
                    //cast
/*====================================================================	
====================================================================*/
.cast-main{
    .cas{
        padding-top: 640px;
    }
}
.ca-inner{
    .section-title{
        margin-bottom: 150px;
    }
}
.ca-sec-area{
    .inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 60px;
        @include mq(md){
            justify-content: space-around;
        }
    }
}
.ca-sec__item{
    flex: 0 0 380px;
    display: flex;
    margin-bottom: 28px;
    @include mq(md){
        flex: 0 0 80%;
    }
    figure{
        display: block;
        width: 192px;
        height: 130px;
        margin-right: 10px;
        img{
            border-radius: 50%;
        }
    }
}
.ca__position{
    font-size: 16.92px;
    margin-bottom: 4px;
    @include mq(sm){
        font-size: $fz-s;
    }
}
.ca__name{
    font-size: 22.56px;
    font-weight: $b;
    margin-bottom: 10px;
    @include mq(sm){
        font-size: $fz-m;
        margin-bottom: 6px;
    }
}
.ca__performance{
    font-size: $fz-sx;
    margin-bottom: 10px;
    @include mq(sm){
        font-size: 10px;
        margin-bottom: 6px;
    }
}
.ca__txt{
    font-size: $fz-s;
    
}
.ca-th{
    background-color: #FFFFFFE6;
    padding-top: 80px;
    padding-bottom: 5px;
    .inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include mq(md){
            justify-content: space-around;
        }
    }
}
.ca-th__item{
    flex: 0 0250px;
    text-align: center;
    margin-bottom: 30px;
    @include mq(md){
        flex: 0 0 200px;
    }
    @include mq(sm){
        flex: 0 0 150px;
    }
}
/*====================================================================
====================================================================*/
                    //inguiry
/*====================================================================
====================================================================*/
.ing{
    margin-bottom: 60px;
}
.ing-area{
    background-color: rgba(255, 255, 255, .3);
    padding: 30px;
}
.ing__before{
    // display: none;
}
.ing__after{
    display: none;
    padding: 0;
}
.ing-section-title{
    margin-top: 0;
}
.ing-txt__top{
    margin-bottom: 15px;
    @include mq(sm){
        margin-bottom: 10px;
    }
}
.ing-txt__top,.ing-title{
    font-size: $fz-m;
    line-height: 1.6667;
    font-weight: $b;
    @include mq(sm){
        font-size: $fz-s;
    }
}
.contact-item{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
    @include mq(sm){
        display: block;
        border-bottom: 10px;
    }
}
.ing__input, .ing__txt{
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, .7);
    width: 510px;
    height: 45px;
    margin-left: 15px;
    @include mq(sm){
        width: 100%;
        margin: 0;
        height: 30px;
    }
    &:focus{
        border: 3px solid rgba(240,196,4,1);
        box-shadow: none;
        outline: none;
    } 
}
.ing__txt{
    resize: none;
    height: 165px;
    height: 120px;
}
.contact_sub{
    margin: 30px auto 0 auto;
    display: block;
    @include btn(200px,60px ,$c-btn__r ,$fz-m ,$c-white );
    @include mq(sm){
        @include btn(140px,40px ,$c-btn__r ,$fz-s ,$c-white )
    }
}
.ing__message{
    font-size: $fz-m;
    font-weight: $b;
    text-align: center;
    line-height: 1.66667;
}
.contact-news{
    margin: 0 0 30px 0;
}