@charset "UTF-8";
@media screen and (max-width: 900px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .is-pc {
    display: none;
  }
}

/*====================================================================
                    common　style
==================================================================*/
body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.57;
  letter-spacing: .1;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  width: 100%;
}

.inner {
  max-width: 810px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .inner {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .inner {
    max-width: 510px;
    padding: 0 15px;
  }
}

.section-title {
  font-size: 43px;
  margin-bottom: auto;
  font-family: 'Futura-CondensedMedium';
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 34px;
  }
}

.util-top {
  width: 100%;
  background-image: url(../img/top.png);
  background-position: 100% 50%;
  background-size: 150%;
  position: relative;
}

.util-top-inner {
  display: flex;
  max-width: 810px;
  margin: 0 auto;
  padding: 58px 0;
}

@media screen and (max-width: 900px) {
  .util-top-inner {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .util-top-inner {
    display: block;
    text-align: center;
  }
}

.util-top-title-box {
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  .util-top-title-box {
    margin-right: 0;
    width: 100%;
    padding: 0 15px;
    display: inline-block;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .util-top-contents {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .util-top-contents {
    max-width: 66.66%;
  }
}

.util-btn-box {
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 810px;
  left: 50%;
  width: 100%;
  text-align-last: center;
}

@media screen and (max-width: 900px) {
  .util-btn-box {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .util-btn-box {
    max-width: 510px;
  }
}

.util-btn-box .to-reserve {
  display: block;
  margin-left: auto;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #c63205;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.util-btn-box .to-reserve:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .util-btn-box .to-reserve {
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #c63205;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .util-btn-box .to-reserve:hover {
    transition: .3s;
    opacity: .8;
  }
}

/*====================================================================
header
====================================================================*/
.header {
  height: 90px;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  overflow: auto;
}

.header-item + .header-item {
  margin-left: 30px;
}

.header-link {
  text-decoration: none;
  text-align: center;
}

.header-item-sub {
  font-size: 12px;
  color: #421F15;
  font-weight: 600;
}

.header-item-main {
  color: #421F15;
  font-weight: 600;
  font-size: 22px;
}

/*====================================================================
                    main
====================================================================*/
/*====================================================================
                    top
====================================================================*/
.index-top {
  width: 100%;
  height: 520px;
  background-image: url(../img/top.png);
  background-position: 85% 60%;
  background-size: 170%;
  color: #fff;
  padding: 60px 0px;
  position: relative;
}

.index-top-inner {
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .index-top-inner {
    max-width: 890px;
  }
}

.index-top-title-box {
  font-family: "Futura-CondensedMedium", sans-serif;
}

.index-top-title-sub {
  font-size: 34px;
}

.index-top-title {
  font-size: 90px;
}

.index-top-contents {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.index-top-contents-info {
  width: 370px;
}

.index-top-contents-text {
  flex: 0 0 340px;
  font-size: 14px;
}

.index-top-contents-text span {
  font-weight: 600;
}

.top-btn-box {
  max-width: 1100px;
  width: 100%;
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 0;
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .top-btn-box {
    max-width: 890px;
  }
}

.top-btn-box .btn {
  margin-left: auto;
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  background-color: #c63205;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-decoration: none;
}

.top-btn-box .btn:hover {
  transition: .3s;
  opacity: .8;
}

/*====================================================================
                    intro
====================================================================*/
.index-news {
  padding: 60px 0;
}

.index-intro-box {
  height: 350px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.index-intro-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 210px;
  background-image: url(../img/story3.png);
  background-position: 50% 70%;
  background-size: 140%;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.index-intro-title {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

.index-intro-text-box {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 15px;
}

.index-intro-text-left {
  width: 360px;
  line-height: 1.75;
}

/*====================================================================
                    news
====================================================================*/
.news-btn-box {
  margin: 50px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.to-news {
  position: absolute;
  right: 0;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background-color: #c63205;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.to-news:hover {
  transition: .3s;
  opacity: .8;
}

.index-news-first-box {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  margin-bottom: 25px;
}

.index-news-link {
  text-decoration: none;
  display: block;
  color: #333;
}

.index-news-link:hover {
  transition: .3s;
  opacity: .8;
}

.index-news-item-first {
  width: 250px;
  background-color: #fff;
}

.index-news-item-first img {
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.index-news-item-first-text-box {
  padding: 0 25px 25px 15px;
  height: 100%;
}

.index-news-time {
  font-size: 12px;
}

.index-news-item-title {
  font-weight: 600;
}

.index-news-second-box {
  display: flex;
  justify-content: space-between;
}

.index-news-item-second {
  height: 90px;
  background-color: #fff;
  flex: 0 0 380px;
}

.second {
  display: flex;
  height: 100%;
  align-self: stretch;
}

.second img {
  width: 150px;
  height: 100%;
}

.index-news-item-second-text-box {
  padding: 5px 15px 10px 15px;
}

.index-news-item-second-text-box time {
  margin-bottom: 0;
}

.index-news-item-second-text-box .index-news-item-title {
  margin-top: 0;
}

/*====================================================================
                    story
====================================================================*/
.index-story {
  width: 100%;
  height: 440px;
  background-color: #000;
}

.index-story .section-title {
  z-index: 10;
  color: #fff;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
}

.index-story-second {
  height: 440px;
  padding: 30px;
  background-image: url(../img/story2.png);
  position: relative;
  background-position: -30% 30%;
  background-size: 70%;
  background-repeat: no-repeat;
}

.index-story-second::after {
  position: absolute;
  content: '';
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent, black);
}

.index-story-second .inner {
  position: relative;
  height: 100%;
}

.index-story-text {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 10;
  width: 320px;
  font-size: 12px;
  color: #fff;
  line-height: 1.75;
  font-weight: 300;
}

.to-story {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 115px;
  height: 36px;
  line-height: 36px;
  background-color: #c63205;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.to-story:hover {
  transition: .3s;
  opacity: .8;
}

/*====================================================================
                    comments
====================================================================*/
.index-comments {
  padding: 60px 0;
}

.index-comments .section-title {
  margin-bottom: 40px;
}

.index-comments-title-sub {
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.index-comments-box {
  width: 100%;
  padding: 50px 30px;
  color: #fff;
  position: relative;
  background-image: url(../img/index-comments.png);
  background-size: 105%;
  background-position: center;
  margin-bottom: 70px;
}

.index-comments-box-title {
  font-size: 20px;
  font-size: 600;
  margin-bottom: 10px;
}

.index-comments-box-title span {
  font-size: 26px;
}

.index-comments-text {
  font-size: 14px;
  width: 420px;
}

.to-comments {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 115px;
  height: 36px;
  line-height: 36px;
  background-color: #c63205;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.to-comments:hover {
  transition: .3s;
  opacity: .8;
}

/*====================================================================
                    casts
====================================================================*/
.section-index-cast-title {
  margin-bottom: 90px !important;
}

.index-casts {
  background-color: #FFFFFFE6;
  padding-top: 680px;
  position: relative;
}

.index-casts .inner {
  width: 100%;
  position: absolute;
  top: -125px;
  transform: translateX(-50%);
  left: 50%;
  padding-bottom: 30px;
}

.index-casts-items {
  display: flex;
  justify-content: space-between;
  justify-self: stretch;
  margin-bottom: 20px;
}

.index-cast-item {
  flex: 0 0 250px;
}

.index-cast-item-img {
  margin-bottom: 20px;
}

.index-cast-item-img img {
  border-radius: 50%;
  text-align: center;
}

.index-cast-prof {
  text-align: center;
  margin-bottom: 15px;
}

.index-cast-position {
  margin-bottom: 5px;
}

.index-cast-name {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.index-cast-title {
  font-size: 12px;
}

.index-cast-text {
  font-size: 12px;
  line-height: 1.75;
}

.to-casts {
  display: block;
  margin: 0 auto;
  border: 5px solid #c63205;
  width: 115px;
  height: 35px;
  line-height: 35px;
  background-color: transparent;
  font-size: 14px;
  color: #c63205;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  height: 45px;
}

.to-casts:hover {
  transition: .3s;
  opacity: .8;
}

/*====================================================================
                    schedule
====================================================================*/
.index-schedule {
  padding: 60px 0;
}

.index-schedule-box {
  width: 100%;
  padding: 30px 72px 60px 72px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .index-schedule-box {
    padding: 10px 37px 30px 37px;
  }
}

.index-schedule-box .section-title {
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .index-schedule-box .section-title {
    margin-bottom: 15px;
  }
}

.index-schedule-table td {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .index-schedule-table td {
    font-size: 16px;
  }
}

.index-schedule-date {
  padding-right: 10px;
}

@media screen and (max-width: 900px) {
  .index-schedule-date {
    padding-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .index-schedule-date {
    padding-right: 10px;
    padding-bottom: 5px;
    display: inline-block;
  }
}

.index-schedule-time {
  padding-right: 30px;
}

@media screen and (max-width: 900px) {
  .index-schedule-time {
    padding-right: 23px;
  }
}

@media screen and (max-width: 768px) {
  .index-schedule-time {
    padding-right: 23px;
    display: inline-block;
  }
}

.index-schedule-place {
  padding-right: 25px;
}

@media screen and (max-width: 900px) {
  .index-schedule-place {
    padding-right: 17px;
  }
}

@media screen and (max-width: 768px) {
  .index-schedule-place {
    padding-right: 17px;
    display: inline-block;
  }
}

.index-schedule-reserve a {
  color: #333;
}

.index-schedule-reserve a:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .index-schedule-reserve {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .index-schedule-reserve {
    padding-bottom: 15px;
  }
}

.schedule-btn-box {
  display: flex;
  justify-content: center;
}

.to-contact {
  width: 193px;
  height: 60px;
  line-height: 60px;
  background-color: #421f15;
  font-size: 13px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-right: 15px;
}

.to-contact:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 900px) {
  .to-contact {
    margin-right: 7.5px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #421f15;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .to-contact:hover {
    transition: .3s;
    opacity: .8;
  }
}

.to-reserve {
  width: 193px;
  height: 60px;
  line-height: 60px;
  background-color: #c63205;
  font-size: 13px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-left: 15px;
}

.to-reserve:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 900px) {
  .to-reserve {
    margin-left: 7.5px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #c63205;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .to-reserve:hover {
    transition: .3s;
    opacity: .8;
  }
}

/*====================================================================
                    footer
====================================================================*/
footer {
  padding: 30px 0;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #1A1A1A;
}

@media screen and (max-width: 900px) {
  footer {
    font-size: 8px;
  }
}

/*====================================================================
                    
====================================================================*/
/*====================================================================
                    pans
====================================================================*/
.na-pans {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .na-pans {
    margin-top: 15px;
  }
}

.na-pans p {
  font-size: 12px;
}

.na-news {
  padding: 30px 0;
}

@media screen and (max-width: 768px) {
  .na-news {
    padding: 10px 0;
  }
}

.na-news .section-title {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .na-news .section-title {
    margin-bottom: 20px;
  }
}

.na-news-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: -30px;
}

@media screen and (max-width: 768px) {
  .na-news-items {
    margin-bottom: 0;
    display: block;
  }
}

.na-news-link {
  display: block;
  margin-bottom: 30px;
  width: 250px;
  background-color: #fff;
  text-decoration: none;
}

.na-news-link:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 900px) {
  .na-news-link {
    width: 210px;
  }
}

@media screen and (max-width: 768px) {
  .na-news-link {
    width: 100%;
  }
}

.na-news-item {
  width: 100%;
  height: 100%;
}

.na-news__img {
  width: 100%;
  height: 140px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .na-news__img {
    padding-top: 56%;
  }
}

.na-news__img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.na-news-item__body {
  padding: 15px 15px 20px 15px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .na-news-item__body {
    padding: 10px 10px 15px 10px;
  }
}

.na-news-item__body time {
  font-size: 12px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .na-news-item__body time {
    font-size: 12px;
  }
}

.na-news-item__title {
  font-weight: 600;
  line-height: 1.312;
}

@media screen and (max-width: 768px) {
  .na-news-item__title {
    font-size: 14px;
  }
}

.na-news-pagination__body {
  margin-top: 30px;
  text-align: center;
}

.na-news-pagination {
  display: inline-block;
  padding: 7.5px 13px;
  background-color: #1A1A1A;
  text-decoration: none;
  font-size: 12px;
}

.na-news-pagination:hover {
  transition: .3s;
  opacity: .8;
}

.na-news-pagination + .na-news-pagination {
  margin-left: 9px;
}

.na-mun p {
  border: 2px solid #1A1A1A;
  background-image: url(../img/bg.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.na-next {
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  background-color: transparent;
  color: #1A1A1A;
}

.na-schedule .inner {
  padding-top: 30px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .na-schedule .inner {
    padding-top: 15px;
    padding-bottom: 30px;
  }
}

/*====================================================================
                    
====================================================================*/
/*====================================================================
                    
====================================================================*/
.na-s .section-title {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .na-s .section-title {
    margin-bottom: 15px;
  }
}

.na-s__main {
  background-color: #FFFFFFE6;
}

.na-s___img {
  position: relative;
  width: 100%;
  padding-top: 56%;
  overflow: hidden;
}

.na-s___img img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.na-s__title {
  background-color: #1A1A1A;
  padding: 12px 30px 17px 30px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .na-s__title {
    padding: 10px 15px 12px 15px;
  }
}

.na-s__title time {
  font-size: 12px;
}

.na-s__title h3 {
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .na-s__title h3 {
    font-size: 18px;
  }
}

.na-s__body {
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .na-s__body {
    padding: 15px;
  }
}

.na-s__b_title {
  font-size: 22px;
  line-height: calc(26/22px);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .na-s__b_title {
    font-size: 18px;
  }
}

.na-s__b_txt {
  line-height: 1.625;
}

@media screen and (max-width: 768px) {
  .na-s__b_txt {
    font-size: 14px;
  }
}

.na-s__b_txt span {
  font-weight: 600;
}

/*====================================================================
                    pagination
====================================================================*/
.na-s-pagination_area .inner {
  display: flex;
  justify-content: space-between;
}

.na-s_pagination_link {
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  max-width: 300px;
}

@media screen and (max-width: 768px) {
  .na-s_pagination_link {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.na-s_pagination_link span {
  position: relative;
  display: block;
  background-color: #1A1A1A;
  border-radius: 50%;
  padding: 0 15px;
  height: 30px;
}

.na-s_pagination_link span::after {
  position: absolute;
  font-size: 22px;
  transform: translate(-50%, -50%);
  top: 45%;
  background-image: url(../img/bg.png);
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pagination-pev span {
  margin-right: 12px;
}

.pagination-pev span::after {
  content: "<";
  left: 45%;
}

.pagination-next span {
  margin-left: 12px;
}

.pagination-next span::after {
  content: ">";
  left: 55%;
}

.na-s_pagination_info time {
  font-size: 12px;
  margin-bottom: 3px;
}

.na-s_pagination_info p {
  font-size: 14px;
  line-height: 1.5;
}

.pagination-pev {
  text-align-last: left;
}

.pagination-next {
  flex-direction: row-reverse;
  text-align: right;
}

/*====================================================================
                    
====================================================================*/
/*====================================================================
                    
====================================================================*/
.bg__bk {
  background-color: #000;
}

.story-top-bg {
  background-image: url(../img/story1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.story-top-bg .bg__bk__tra {
  background: linear-gradient(to left, black, rgba(0, 0, 0, 0.1));
}

.story-top-bg .util-top {
  background-image: none;
}

.story-area {
  color: #fff;
}

.story-area .section-title {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .story-area .section-title {
    margin-bottom: 15px;
  }
}

.story-txt-area {
  color: #fff;
}

.story-txt-area p {
  width: calc(100% /2);
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .story-txt-area p {
    width: 100%;
    font-size: 14px;
    padding: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .story-main .story-txt-area {
    background-position: center;
    background-size: cover;
  }
}

.story-txt__left .bg__bk__tra {
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.1));
}

.story-txt__left p {
  padding-right: 30px;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .story-txt__left p {
    padding-right: 0;
  }
}

.story-txt__right .bg__bk__tra {
  background: linear-gradient(to left, black, rgba(0, 0, 0, 0.1));
}

.story-txt__right p {
  padding-left: 30px;
  margin-left: auto;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .story-txt__right p {
    padding-left: 0;
  }
}

.story-1 {
  background-position: 100% 0;
  background-image: url(../img/story05.png);
  background-size: 70%;
  background-repeat: no-repeat;
}

.story-2 {
  background-position: 0 50%;
  background-image: url(../img/story04.png);
  background-size: 70%;
  background-repeat: no-repeat;
}

.story-3 {
  background-position: 100% 50%;
  background-image: url(../img/story3.png);
  background-size: 50%;
  background-repeat: no-repeat;
}
