@charset "UTF-8";
/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, figure, article, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .is-pc {
    display: none;
  }
}

/*====================================================================
                    common　style
==================================================================*/
body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.57;
  letter-spacing: .1;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  width: 100%;
}

.inner {
  max-width: 810px;
  margin: 0 auto;
  box-sizing: content-box;
}

@media screen and (max-width: 900px) {
  .inner {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .inner {
    max-width: 510px;
    padding: 0 15px;
  }
}

.section-title {
  font-size: 43px;
  margin-bottom: auto;
  font-family: 'Futura-CondensedMedium';
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 34px;
  }
}

.util-top {
  width: 100%;
  background-image: url(../img/top.png);
  background-position: 100% 50%;
  background-size: 150%;
  position: relative;
}

.util-top-inner {
  display: flex;
  padding: 58px 15px;
}

@media screen and (max-width: 768px) {
  .util-top-inner {
    display: block;
    text-align: center;
  }
}

.util-top-title-box {
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  .util-top-title-box {
    margin-right: 0;
    width: 100%;
    display: inline-block;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .util-top-contents {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .util-top-contents {
    max-width: 66.66%;
  }
}

.util-btn-box {
  position: absolute;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  max-width: 810px;
  left: 50%;
  width: 100%;
  text-align-last: center;
}

@media screen and (max-width: 900px) {
  .util-btn-box {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .util-btn-box {
    max-width: 510px;
  }
}

.util-btn-box .to-reserve {
  display: block;
  margin-left: auto;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #c63205;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.util-btn-box .to-reserve:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .util-btn-box .to-reserve {
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #c63205;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .util-btn-box .to-reserve:hover {
    transition: .3s;
    opacity: .8;
  }
}

/*====================================================================
header
====================================================================*/
.header {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    white-space: nowrap;
    overflow-y: scroll;
  }
}

.header-nav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  max-width: 660px;
  margin: 0 auto;
  flex: 1 1 100%;
}

@media screen and (max-width: 768px) {
  .header-nav {
    width: 510px;
    padding: 12px 0;
    flex: 0 0 100%;
  }
}

.header-link {
  text-decoration: none;
  text-align: center;
}

.header-item-sub {
  font-size: 12px;
  color: #421F15;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .header-item-sub {
    font-size: 10px;
  }
}

.header-item-main {
  color: #421F15;
  font-weight: 600;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .header-item-main {
    font-size: 16px;
  }
}

/*====================================================================
                    main
====================================================================*/
/*====================================================================
                    top
====================================================================*/
.i-top {
  width: 100%;
  background-image: url(../img/top.png);
  background-position: 85% 60%;
  background-size: 170%;
  color: #fff;
  padding: 60px 0px;
  position: relative;
}

@media screen and (min-width: 1201px) {
  .i-top .inner {
    max-width: 920px;
    margin: 0 auto;
    box-sizing: content-box;
  }
}

@media screen and (max-width: 768px) {
  .i-top {
    padding: 30px 0;
  }
}

.t-btn__box {
  width: 100%;
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 0;
  text-align: right;
}

.t-btn__box .to-reserve {
  margin-left: auto;
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  background-color: #c63205;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-decoration: none;
}

.t-btn__box .to-reserve:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .t-btn__box .to-reserve {
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #c63205;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .t-btn__box .to-reserve:hover {
    transition: .3s;
    opacity: .8;
  }
}

.index-top-title-box {
  width: 100%;
}

.index-top-title-sub {
  font-size: 34px;
}

.index-top-title {
  font-size: 90px;
}

.i-top__contents {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .i-top__contents {
    display: block;
    margin-top: 0;
    text-align: center;
  }
}

.i-top__contents__info {
  width: 370px;
}

@media screen and (max-width: 768px) {
  .i-top__contents__info {
    max-width: 330px;
    width: 70%;
    margin: 24px 0;
  }
}

.i-top-contents__text {
  flex: 0 0 340px;
  font-size: 14px;
}

.i-top-contents__text span {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .i-top-contents__text {
    font-size: 12px;
  }
}

/*====================================================================
                    intro
====================================================================*/
.i-news {
  padding: 60px 0;
}

.i-intro-box {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

@media screen and (max-width: 768px) {
  .i-intro-box {
    padding: 15px;
  }
}

.i-intro-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 210px;
  background-image: url(../img/story3.png);
  background-position: 50% 70%;
  background-size: 140%;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

@media screen and (max-width: 768px) {
  .i-intro-box::after {
    width: 100px;
    height: 100px;
  }
}

.i-intro__sub {
  text-align: center;
}

.i-intro-title {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

.i-intro-text-box {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .i-intro-text-box {
    display: block;
  }
}

.i-intro-text-left, .i-intro-text-right {
  flex: 0 0 360px;
  line-height: 1.75;
}

@media screen and (max-width: 900px) {
  .i-intro-text-left, .i-intro-text-right {
    flex: 0 0 330px;
  }
}

/*====================================================================
                    news
====================================================================*/
.news-btn-box {
  margin: 50px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .news-btn-box {
    margin: 20px 0;
  }
}

.to-news {
  position: absolute;
  right: 0;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background-color: #c63205;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.to-news:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .to-news {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #c63205;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .to-news:hover {
    transition: .3s;
    opacity: .8;
  }
}

.i-news-first-box {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .i-news-first-box {
    margin-bottom: 0;
    display: block;
  }
}

.i-news-link {
  text-decoration: none;
  display: block;
}

.i-news-link:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .i-news-link figure {
    width: 100%;
    padding-top: 56%;
    position: relative;
    overflow: hidden;
  }
  .i-news-link figure img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
}

.i-news-item-first {
  flex: 0 0 250px;
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .i-news-item-first {
    flex: 0 0 220px;
  }
}

@media screen and (max-width: 768px) {
  .i-news-item-first {
    width: 100%;
    margin-bottom: 15px;
  }
}

.i-news-item-first-text-box {
  color: #333;
  padding: 0 25px 25px 15px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .i-news-item-first-text-box {
    padding: 0 15px 15px 10px;
  }
}

@media screen and (max-width: 768px) {
  .i-news-item {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .i-news-time {
    font-size: 12px;
  }
}

.i-news-item-title {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .i-news-item-title {
    font-size: 14px;
  }
}

.i-news-second__box {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .i-news-second__box {
    display: block;
  }
}

.i-news-item-second {
  height: 90px;
  background-color: #fff;
  flex: 0 0 380px;
}

@media screen and (max-width: 900px) {
  .i-news-item-second {
    flex: 0 0 345px;
  }
}

@media screen and (max-width: 768px) {
  .i-news-item-second {
    height: 100%;
  }
}

.second {
  display: flex;
  height: 100%;
  align-self: stretch;
}

@media screen and (max-width: 768px) {
  .second {
    display: block;
  }
}

.second img {
  width: 150px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .second img {
    width: 100%;
  }
}

.i-news-item-second-text-box {
  padding: 5px 15px 10px 15px;
  color: #333;
}

.i-news-item-second-text-box time {
  margin-bottom: 0;
}

.i-news-item-second-text-box .i-news-item-title {
  margin-top: 0;
}

/*====================================================================
                    story
====================================================================*/
.i-story {
  width: 100%;
  height: 440px;
  background-color: #000;
}

.i-story .section-title {
  z-index: 10;
  color: #fff;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
}

.i-story__second {
  height: 100%;
  padding: 30px;
  background-image: url(../img/story2.png);
  position: relative;
  background-position: -30% 30%;
  background-size: 70%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  .i-story__second {
    background-size: cover;
    background-position: -30px 50%;
    padding: 15px;
  }
}

.i-story__second::after {
  position: absolute;
  content: '';
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent, black);
}

.i-story__second .inner {
  position: relative;
  height: 100%;
}

.index-story-text {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 10;
  width: 320px;
  font-size: 12px;
  color: #fff;
  line-height: 1.75;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .index-story-text {
    position: none;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
  }
}

.to-story {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 115px;
  height: 36px;
  line-height: 36px;
  background-color: #c63205;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.to-story:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .to-story {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #c63205;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .to-story:hover {
    transition: .3s;
    opacity: .8;
  }
}

/*====================================================================
                    comments
====================================================================*/
.comments {
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .comments {
    padding: 30px 0;
  }
}

.comments .section-title {
  margin-bottom: 30px;
}

.comments-title-sub {
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.comments-box {
  width: 100%;
  padding: 50px 30px;
  color: #fff;
  position: relative;
  background-image: url(../img/index-comments.png);
  background-size: 105%;
  background-position: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .comments-box {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .comments-box {
    display: none;
  }
}

.comment__res {
  display: none;
}

@media screen and (max-width: 768px) {
  .comment__res {
    display: block;
  }
}

.comment__res .comment__res-img {
  background-image: url(../img/index-comments.png);
  background-size: cover;
  background-position: center;
  padding-top: 60%;
}

.comment__res .comment__res__txtarea {
  background-color: #161616;
  padding: 15px;
  color: #fff;
  margin-bottom: 20px;
}

.comment__res .comment__res__title {
  font-size: 18px;
  margin-bottom: 10px;
}

.comment__res .comment__res__title span {
  font-size: 20px;
}

.comment__res .comments__res_txt {
  font-size: 14px;
}

.comments-box-title {
  font-size: 20px;
  font-size: 600;
  margin-bottom: 10px;
}

.comments-box-title span {
  font-size: 26px;
}

.comments-text {
  font-size: 14px;
  width: 420px;
}

.to-comments {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 115px;
  height: 36px;
  line-height: 36px;
  background-color: #c63205;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.to-comments:hover {
  transition: .3s;
  opacity: .8;
}

/*====================================================================
                    casts
====================================================================*/
.section-ca-title {
  margin-bottom: 100px !important;
}

.cas {
  background-color: #FFFFFFE6;
  padding-top: 680px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .cas {
    padding-top: 1745px;
  }
}

.cas .inner {
  width: 100%;
  position: absolute;
  top: -125px;
  transform: translateX(-50%);
  left: 50%;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.cas-items {
  display: flex;
  justify-content: space-between;
  justify-self: stretch;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .cas-items {
    justify-content: none;
    justify-self: none;
    display: block;
  }
}

.ca-item {
  flex: 0 0 250px;
}

@media screen and (max-width: 768px) {
  .ca-item {
    width: 100%;
    margin-bottom: 24px;
  }
}

.ca-item-img {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .ca-item-img {
    text-align: center;
  }
}

.ca-item-img img {
  border-radius: 50%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .ca-item-img img {
    width: 200px;
    height: 200px;
  }
}

.ca-prof {
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .ca-prof {
    margin-bottom: 10px;
  }
}

.ca-position {
  margin-bottom: 5px;
}

.ca-name {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .ca-name {
    margin-bottom: 10px;
  }
}

.ca-title {
  font-size: 12px;
}

.ca-text {
  font-size: 12px;
  line-height: 1.75;
}

.to-casts {
  display: block;
  margin: 0 auto;
  border: 5px solid #c63205;
  width: 115px;
  height: 35px;
  line-height: 35px;
  background-color: transparent;
  font-size: 14px;
  color: #c63205;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  height: 45px;
}

.to-casts:hover {
  transition: .3s;
  opacity: .8;
}

/*====================================================================
                    schedule
====================================================================*/
.index-schedule {
  padding: 60px 0;
}

.index-schedule-box {
  width: 100%;
  padding: 30px 72px 60px 72px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .index-schedule-box {
    padding: 10px 37px 30px 37px;
  }
}

.index-schedule-box .section-title {
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .index-schedule-box .section-title {
    margin-bottom: 15px;
  }
}

.index-schedule-table td {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .index-schedule-table td {
    font-size: 16px;
  }
}

.index-schedule-date {
  padding-right: 10px;
}

@media screen and (max-width: 900px) {
  .index-schedule-date {
    padding-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .index-schedule-date {
    padding-right: 10px;
    padding-bottom: 5px;
    display: inline-block;
  }
}

.index-schedule-time {
  padding-right: 30px;
}

@media screen and (max-width: 900px) {
  .index-schedule-time {
    padding-right: 23px;
  }
}

@media screen and (max-width: 768px) {
  .index-schedule-time {
    padding-right: 23px;
    display: inline-block;
  }
}

.index-schedule-place {
  padding-right: 25px;
}

@media screen and (max-width: 900px) {
  .index-schedule-place {
    padding-right: 17px;
  }
}

@media screen and (max-width: 768px) {
  .index-schedule-place {
    padding-right: 17px;
    display: inline-block;
  }
}

.index-schedule-reserve a {
  color: #333;
}

.index-schedule-reserve a:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .index-schedule-reserve {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .index-schedule-reserve {
    padding-bottom: 15px;
  }
}

.schedule-btn-box {
  display: flex;
  justify-content: center;
}

.to-contact {
  width: 193px;
  height: 60px;
  line-height: 60px;
  background-color: #421f15;
  font-size: 13px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-right: 15px;
}

.to-contact:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 900px) {
  .to-contact {
    margin-right: 7.5px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #421f15;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .to-contact:hover {
    transition: .3s;
    opacity: .8;
  }
}

.to-reserve {
  width: 193px;
  height: 60px;
  line-height: 60px;
  background-color: #c63205;
  font-size: 13px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-left: 15px;
}

.to-reserve:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 900px) {
  .to-reserve {
    margin-left: 7.5px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #c63205;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .to-reserve:hover {
    transition: .3s;
    opacity: .8;
  }
}

/*====================================================================
                    footer
====================================================================*/
footer {
  padding: 30px 0;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #1A1A1A;
}

@media screen and (max-width: 900px) {
  footer {
    font-size: 8px;
  }
}

/*====================================================================
                    
====================================================================*/
/*====================================================================
                    pans
====================================================================*/
.na-pans {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .na-pans {
    margin-top: 15px;
  }
}

.na-pans p {
  font-size: 12px;
}

.na-news {
  padding: 30px 0;
}

@media screen and (max-width: 768px) {
  .na-news {
    padding: 10px 0;
  }
}

.na-news .section-title {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .na-news .section-title {
    margin-bottom: 20px;
  }
}

.na-news-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: -30px;
}

@media screen and (max-width: 768px) {
  .na-news-items {
    margin-bottom: 0;
    display: block;
  }
}

.na-news-link {
  display: block;
  margin-bottom: 30px;
  width: 250px;
  background-color: #fff;
  text-decoration: none;
}

.na-news-link:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 900px) {
  .na-news-link {
    width: 210px;
  }
}

@media screen and (max-width: 768px) {
  .na-news-link {
    width: 100%;
  }
}

.na-news-item {
  width: 100%;
  height: 100%;
}

.na-news__img {
  width: 100%;
  height: 140px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .na-news__img {
    padding-top: 56%;
  }
}

.na-news__img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.na-news-item__body {
  padding: 15px 15px 20px 15px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .na-news-item__body {
    padding: 10px 10px 15px 10px;
  }
}

.na-news-item__body time {
  font-size: 12px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .na-news-item__body time {
    font-size: 12px;
  }
}

.na-news-item__title {
  font-weight: 600;
  line-height: 1.312;
}

@media screen and (max-width: 768px) {
  .na-news-item__title {
    font-size: 14px;
  }
}

.na-news-pagination__body {
  margin-top: 30px;
  text-align: center;
}

.na-news-pagination {
  display: inline-block;
  padding: 7.5px 13px;
  background-color: #1A1A1A;
  text-decoration: none;
  font-size: 12px;
}

.na-news-pagination:hover {
  transition: .3s;
  opacity: .8;
}

.na-news-pagination + .na-news-pagination {
  margin-left: 9px;
}

.na-mun p {
  border: 2px solid #1A1A1A;
  background-image: url(../img/bg.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.na-next {
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  background-color: transparent;
  color: #1A1A1A;
}

.na-schedule .inner {
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .na-schedule .inner {
    padding-top: 15px;
    padding-bottom: 30px;
  }
}

/*====================================================================
                    
====================================================================*/
/*====================================================================
                    
====================================================================*/
.na-s .section-title {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .na-s .section-title {
    margin-bottom: 15px;
  }
}

.na-s__main {
  background-color: #FFFFFFE6;
}

.na-s___img {
  position: relative;
  width: 100%;
  padding-top: 56%;
  overflow: hidden;
}

.na-s___img img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.na-s__title {
  background-color: #1A1A1A;
  padding: 12px 30px 17px 30px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .na-s__title {
    padding: 10px 15px 12px 15px;
  }
}

.na-s__title time {
  font-size: 12px;
}

.na-s__title h3 {
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .na-s__title h3 {
    font-size: 18px;
  }
}

.na-s__body {
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .na-s__body {
    padding: 15px;
  }
}

.na-s__b_title {
  font-size: 22px;
  line-height: calc(26/22px);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .na-s__b_title {
    font-size: 18px;
  }
}

.na-s__b_txt {
  line-height: 1.625;
}

@media screen and (max-width: 768px) {
  .na-s__b_txt {
    font-size: 14px;
  }
}

.na-s__b_txt span {
  font-weight: 600;
}

/*====================================================================
                    pagination
====================================================================*/
.na-s-pagination_area .inner {
  display: flex;
  justify-content: space-between;
}

.na-s_pagination_link {
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  max-width: 300px;
}

@media screen and (max-width: 768px) {
  .na-s_pagination_link {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.na-s_pagination_link span {
  position: relative;
  display: block;
  background-color: #1A1A1A;
  border-radius: 50%;
  padding: 0 15px;
  height: 30px;
}

.na-s_pagination_link span::after {
  position: absolute;
  font-size: 22px;
  transform: translate(-50%, -50%);
  top: 45%;
  background-image: url(../img/bg.png);
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pagination-pev span {
  margin-right: 12px;
}

.pagination-pev span::after {
  content: "<";
  left: 45%;
}

.pagination-next span {
  margin-left: 12px;
}

.pagination-next span::after {
  content: ">";
  left: 55%;
}

.na-s_pagination_info time {
  font-size: 12px;
  margin-bottom: 3px;
}

.na-s_pagination_info p {
  font-size: 14px;
  line-height: 1.5;
}

.pagination-pev {
  text-align-last: left;
}

.pagination-next {
  flex-direction: row-reverse;
  text-align: right;
}

/*====================================================================
                    
====================================================================*/
/*====================================================================
                    
====================================================================*/
.bg__bk {
  background-color: #000;
}

.story-top-bg {
  background-image: url(../img/story1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.story-top-bg .bg__bk__tra {
  background: linear-gradient(to left, black, rgba(0, 0, 0, 0.1));
}

.story-top-bg .util-top {
  background-image: none;
}

.story-area {
  color: #fff;
}

.story-area .section-title {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .story-area .section-title {
    margin-bottom: 15px;
  }
}

.story-txt-area {
  color: #fff;
}

.story-txt-area p {
  width: calc(100% /2);
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .story-txt-area p {
    width: 100%;
    font-size: 14px;
    padding: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .story-main .story-txt-area {
    background-position: center;
    background-size: cover;
  }
}

.story-txt__left .bg__bk__tra {
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.1));
}

.story-txt__left p {
  padding-right: 30px;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .story-txt__left p {
    padding-right: 0;
  }
}

.story-txt__right .bg__bk__tra {
  background: linear-gradient(to left, black, rgba(0, 0, 0, 0.1));
}

.story-txt__right p {
  padding-left: 30px;
  margin-left: auto;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .story-txt__right p {
    padding-left: 0;
  }
}

.story-1 {
  background-position: 100% 0;
  background-image: url(../img/story05.png);
  background-size: 70%;
  background-repeat: no-repeat;
}

.story-2 {
  background-position: 0 50%;
  background-image: url(../img/story04.png);
  background-size: 70%;
  background-repeat: no-repeat;
}

.story-3 {
  background-position: 100% 50%;
  background-image: url(../img/story3.png);
  background-size: 50%;
  background-repeat: no-repeat;
}

/*====================================================================	
====================================================================*/
/*====================================================================	
====================================================================*/
.c-main .comments {
  padding: 27px 0;
}

.c-main .comments .section-title {
  margin-bottom: 24px;
}

.c-main .comments .comments-box {
  margin-bottom: 0;
}

.c-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

@media screen and (max-width: 900px) {
  .c-items {
    justify-content: space-around;
  }
}

.c-item {
  flex: 0 0 250px;
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .c-item {
    flex: 0 0 200px;
    margin-bottom: 15px;
  }
}

.c-item__title {
  text-align: center;
}

.c-item__name {
  font-size: 22px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .c-item__name {
    font-size: 18px;
  }
}

.c-item__position {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .c-item__position {
    font-size: 10px;
  }
}

.c-item__txt {
  line-height: 1.625;
}

@media screen and (max-width: 768px) {
  .c-item__txt {
    font-size: 14px;
  }
}

/*====================================================================	
====================================================================*/
/*====================================================================	
====================================================================*/
.cast-main .cas {
  padding-top: 640px;
}

.ca-inner .section-title {
  margin-bottom: 150px;
}

.ca-sec-area .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}

@media screen and (max-width: 900px) {
  .ca-sec-area .inner {
    justify-content: space-around;
  }
}

.ca-sec__item {
  flex: 0 0 380px;
  display: flex;
  margin-bottom: 28px;
}

@media screen and (max-width: 900px) {
  .ca-sec__item {
    flex: 0 0 80%;
  }
}

.ca-sec__item figure {
  display: block;
  width: 192px;
  height: 130px;
  margin-right: 10px;
}

.ca-sec__item figure img {
  border-radius: 50%;
}

.ca__position {
  font-size: 16.92px;
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .ca__position {
    font-size: 14px;
  }
}

.ca__name {
  font-size: 22.56px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .ca__name {
    font-size: 18px;
    margin-bottom: 6px;
  }
}

.ca__performance {
  font-size: 12px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .ca__performance {
    font-size: 10px;
    margin-bottom: 6px;
  }
}

.ca__txt {
  font-size: 14px;
}

.ca-th {
  background-color: #FFFFFFE6;
  padding-top: 80px;
  padding-bottom: 5px;
}

.ca-th .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .ca-th .inner {
    justify-content: space-around;
  }
}

.ca-th__item {
  flex: 0 0250px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .ca-th__item {
    flex: 0 0 200px;
  }
}

@media screen and (max-width: 768px) {
  .ca-th__item {
    flex: 0 0 150px;
  }
}

/*====================================================================
====================================================================*/
/*====================================================================
====================================================================*/
.ing {
  margin-bottom: 60px;
}

.ing-area {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px;
}

.ing__after {
  display: none;
  padding: 0;
}

.ing-section-title {
  margin-top: 0;
}

.ing-txt__top {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .ing-txt__top {
    margin-bottom: 10px;
  }
}

.ing-txt__top, .ing-title {
  font-size: 18px;
  line-height: 1.6667;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .ing-txt__top, .ing-title {
    font-size: 14px;
  }
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .contact-item {
    display: block;
    border-bottom: 10px;
  }
}

.ing__input, .ing__txt {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.7);
  width: 510px;
  height: 45px;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .ing__input, .ing__txt {
    width: 100%;
    margin: 0;
    height: 30px;
  }
}

.ing__input:focus, .ing__txt:focus {
  border: 3px solid #f0c404;
  box-shadow: none;
  outline: none;
}

.ing__txt {
  resize: none;
  height: 165px;
  height: 120px;
}

.contact_sub {
  margin: 30px auto 0 auto;
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  background-color: #c63205;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.contact_sub:hover {
  transition: .3s;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .contact_sub {
    width: 140px;
    height: 40px;
    line-height: 40px;
    background-color: #c63205;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .contact_sub:hover {
    transition: .3s;
    opacity: .8;
  }
}

.ing__message {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 1.66667;
}

.contact-news {
  margin: 0 0 30px 0;
}
